@model TicketVM
@{
    int userId = User.GetUserId();
}




<div class="col-xl-9 col-lg-8 col-md-7">
    <div class="ui-box bg-white mb-5">
        <div class="ui-box-title">
            @Model.Title
        </div>
        <div class="ui-box-content">
            <div class="tickets">
                @foreach (var item in Model?.Messages?.OrderByDescending(t => t.CreateDate).ToList())
                {
                    @if (item.SenderId == userId)
                    {
                        <div class="ticket fa-num">
                            <div class="avatar"></div>
                            <div class="text">
                                @item.Text
                            </div>
                            @if (item.FilePath != null)
                            {
                                <span>
                                    <a href="/TicketFiles/@item.FilePath" download="download"
                                       class="btn btn-outline-light">دانلود فایل</a>
                                </span>
                            }
                            <div class="date">@item.CreateDate</div>
                        </div>
                    }
                    else
                    {


                        <div class="ticket reply fa-num">
                            <div class="avatar staff"></div>
                            <div class="text">
                                @item.Text
                            </div>
                            @if (item.FilePath != null)
                            {
                                <span>
                                    <a href="/TicketFiles/@item.FilePath" download="download"
                                       class="btn btn-outline-light">دانلود فایل</a>
                                </span>
                            }
                            <div class="date">@item.CreateDate</div>
                        </div>
                    }
                }
            </div>
            <div class="border-bottom my-4"></div>
            <div class="ui-box-title p-0 mb-4">
                ارسال پاسخ
            </div>
            @if (Model.Status != Status.Closed)
            {
                <partial name="_SendMessage" model="new MessageVM { TicketId = Model.Id }" />
            }
        </div>
    </div>
</div>
