@model IEnumerable<TicketVM>

<div class="ui-box bg-white mb-5">
    <div class="ui-box-title align-items-center justify-content-between">
        تیکتهای شما
        <a asp-action="Create" asp-controller="Ticket" class="btn btn-outline-light">تیکت جدید <i class="ri-add-line ms-2"></i></a>
    </div>
    <div class="ui-box-content">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>زمان ایجاد</th>
                        <th>بخش</th>
                        <th>موضوع</th>
                        <th>وضعیت</th>
                        <th>آخرین بروزرسانی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Any())
                    {
                        var counter = 1;
                        foreach (var ticket in Model)
                        {
                            <tr>
                                <td class="fa-num">@counter</td>
                                <td class="fa-num">@ticket.CreateDate</td> <!-- Assuming you have a ToPersianDate extension method -->
                                <td class="fa-num">@ticket.Section</td>
                                <td class="fa-num">@ticket.Title</td>
                                <td class="fa-num">
                                    @if (ticket.Status == Status.Open)
                                    {
                                        <span class="badge bg-warning rounded-pill">در حال بررسی</span>
                                    }
                                    else if (ticket.Status == Status.InProgress)
                                    {
                                        <span class="badge bg-warning rounded-pill">در حال بررسی</span>
                                    }
                                    else if (ticket.Status == Status.Closed)
                                    {
                                        <span class="badge bg-danger rounded-pill">بسته</span>
                                    }
                                    else if (ticket.Status == Status.Resolved)
                                    {
                                        <span class="badge bg-success rounded-pill">پاسخ داده شد</span>
                                    }
                                </td>
                                <td class="fa-num">@ticket.LastModifiedDate</td>
                                <td>
                                    <a asp-action="Details" asp-controller="Ticket" asp-route-id="@ticket.Id" class="btn btn-circle btn-info my-1"><i class="ri-eye-line"></i></a>
                                    <a asp-action="DeleteTicket" asp-controller="Ticket" asp-route-id="@ticket.Id" class="btn btn-circle btn-danger my-1"><i class="ri-close-line"></i></a>
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="7" class="text-center">تیکتی تا به الان ایجاد نکرده اید.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>