@model List<ProductCategoriesViewModel>

<div class="card">
    <div class="d-flex justify-content-between align-items-center mb-۱ ">
        <h2 class="m-3">لیست کاربران</h2>
        <a class="btn btn-primary m-3" asp-action="CreateProductCategory">افزودن گروه</a>
    </div>

    <div class="table-responsive text-nowrap">
        <table class="table table-hover mb-5">
            <thead>
                <tr>

                    <th>نام دسته بندی</th>
                    <th>گروه اصلی</th>
                    <th>عملیات ها</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    <tr class="odd">
                        <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.Name</strong></td>

                        @if (item.ParentId == null)
                        {
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>---</strong></td>

                        }
                        else
                        {
                            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@item.ParentName</strong></td>

                        }
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript:void(0);">
                                        <i class="bx bx-edit-alt me-1"></i> ویرایش
                                    </a>
                                    <a class="dropdown-item" href="javascript:void(0);" onclick="confirmDelete('deleteForm-@item.Id', '@item.Name')"><i class="bx bx-trash me-1"></i> حذف </a>

                                    <form id="deleteForm-@item.Id" method="post" action="@Url.Action("DeleteProductCategory", new { CategoryId = item.Id })" style="display:none;">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="UserId" value="@item.Id" />
                                    </form>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
            
        </table>
    </div>
</div>