@model UserViewModel



<form class="add-new-user pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewUserForm" novalidate="novalidate" method="post" asp-action="UpdateUser">
    <div class="mb-3 fv-plugins-icon-container">
        <label class="form-label" for="add-user-fullname">نام</label>
        <input type="text" class="form-control" id="add-user-fullname" placeholder="" aria-label="" asp-for="FirstName">
        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>

    <div class="mb-3 fv-plugins-icon-container">
        <label class="form-label" for="add-user-fullname">نام خانوادگی</label>
        <input type="text" class="form-control" id="add-user-fullname" placeholder="" aria-label="" asp-for="LastName">
        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })

        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>

    <div class="mb-3 fv-plugins-icon-container">
        <label class="form-label" for="add-user-email">ایمیل</label>
        <input type="text" id="add-user-email" class="form-control" placeholder="example@gmail.com" aria-label="john.doe@example.com" asp-for="EmailAddress">
        @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })

        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>

    <div class="mb-3 fv-plugins-icon-container">
        <label class="form-label" for="add-user-email">رمز عبور</label>
        <input type="text" id="add-user-email" class="form-control" placeholder="********" aria-label="john.doe@example.com" asp-for="Password">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

        <div class="fv-plugins-message-container invalid-feedback"></div>
    </div>

    <div class="mb-3">
        <label class="form-label" for="add-user-contact">شماره موبایل</label>
        <input type="text" id="add-user-contact" class="form-control phone-mask" placeholder="09123456789" asp-for="Mobile">
        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

    </div>

    <div class="form-check mb-3">
        <input type="checkbox" id="is-admin" class="form-check-input" asp-for="IsAdmin">
        <label class="form-check-label" for="is-admin">ادمین</label>
    </div>

    <div class="mb-3">
        <label class="form-label" for="user-role">User Role</label>
        <select id="user-role" class="form-select">
            <option value="subscriber">Subscriber</option>
            <option value="editor">Editor</option>
            <option value="maintainer">Maintainer</option>
            <option value="author">Author</option>
            <option value="admin">Admin</option>
        </select>
    </div>
    <input type="hidden" value="@Model.Id" asp-for="Id">
    <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit" asp-action="UpdateUser">بروزرسانی کاربر</button>
    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas" asp-action="Index">لغو</button>
    <input type="hidden">
</form>