@model List<UserViewModel>



<div class="content-wrapper">
    <!-- Content -->

    <div class="container-xxl flex-grow-1 container-p-y h-100">
        
        <!-- Users List Table -->
        <div class="card">
            <div class="card-header border-bottom">
                <h5 class="card-title">Search Filter</h5>
                <div class="d-flex justify-content-between align-items-center row py-1 gap-3 gap-md-0">
                    <div class="col-md-4 user_role"></div>
                    <div class="col-md-4 user_plan"></div>
                    <div class="col-md-4 user_status"></div>
                </div>
            </div>
            <div class="card-datatable table-responsive">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                    <div class="row mx-2 my-3">
                        <div class="col-md-2">
                            <div class="me-3">
                                <div class="dataTables_length" id="DataTables_Table_0_length">
                                    <label>
                                        <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-select">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="dt-action-buttons text-xl-end text-lg-start text-md-end text-start d-flex align-items-center justify-content-end flex-md-row flex-column mb-3 mb-md-0">
                                <div id="DataTables_Table_0_filter" class="dataTables_filter">
                                    <label>
                                        <input type="search" class="form-control" placeholder="جستجو..." aria-controls="DataTables_Table_0">
                                    </label>
                                </div>
                                <div class="dt-buttons btn-group flex-wrap">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary buttons-collection dropdown-toggle btn-outline-secondary mx-3" tabindex="0" aria-controls="DataTables_Table_0" type="button" aria-haspopup="dialog" aria-expanded="false">
                                            <span>
                                                <i class="bx bx-export me-1"></i>دریافت خروجی
                                            </span>
                                            <span class="dt-down-arrow"></span>
                                        </button>
                                    </div>
                                    <button class="btn btn-secondary add-new btn-primary" tabindex="0" aria-controls="DataTables_Table_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasAddUser">
                                        <span>
                                            <i class="bx bx-plus me-0 me-sm-1"></i><span class="d-none d-sm-inline-block">افزودن کاربر</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table class="datatables-users table border-top dataTable no-footer dtr-column" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                        <thead>
                            <tr>
                                <th class="control sorting_disabled dtr-hidden" rowspan="1" colspan="1" style="width: 51.5875px; display: none;" aria-label=""></th>
                                <th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 125.3px;" aria-sort="descending" aria-label="User: activate to sort column ascending">نام کامل</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 123.2px;" aria-label="Role: activate to sort column ascending">ایمیل</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 125.613px;" aria-label="Plan: activate to sort column ascending">شماره تلفن</th>
                                <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 162.4px;" aria-label="Billing: activate to sort column ascending">نقش کاربر</th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" style="width: 164.75px;" aria-label="Actions">عملیات ها</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="odd">
                                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>@($"{item.FirstName} {item.LastName}")</strong></td>

                                    <td>
                                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            @item.EmailAddress
                                        </ul>
                                    </td>

                                    <td>
                                        <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                            @item.Mobile
                                        </ul>
                                    </td>

                                    <td>
                                        @if (item.IsAdmin == true)
                                        {
                                            <span class="badge bg-label-primary me-1">ادمین</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-label-danger me-1">کاربر ساده</span>
                                        }
                                    </td>

                                    <td>
                                        <div class="dropdown">
                                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                                <i class="bx bx-dots-vertical-rounded"></i>
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="loadUserData(@item.Id)" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUpdateUser">
                                                    <i class="bx bx-edit-alt me-1"></i> ویرایش
                                                </a>
                                                <a class="dropdown-item" href="javascript:void(0);" onclick="confirmDelete('deleteForm-@item.Id', '@item.FirstName @item.LastName')"><i class="bx bx-trash me-1"></i> حذف </a>

                                                <form id="deleteForm-@item.Id" method="post" action="@Url.Action("DeleteUser", new { UserId = item.Id })" style="display:none;">
                                                    @Html.AntiForgeryToken()
                                                    <input type="hidden" name="UserId" value="@item.Id" />
                                                </form>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                            }



                        </tbody>
                    </table>

                    <div class="row mx-2">
                        <div class="col-sm-12 col-md-6">
                            <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">نمایش @Model.Count() از @Model.Count()</div>
                        </div><div class="col-sm-12 col-md-6">
                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="previous" tabindex="0" class="page-link">Previous</a>
                                    </li>
                                    <li class="paginate_button page-item next disabled" id="DataTables_Table_0_next">
                                        <a href="#" aria-controls="DataTables_Table_0" data-dt-idx="next" tabindex="0" class="page-link">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Offcanvas to add new user -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasAddUserLabel" class="offcanvas-title">افزودن کاربر</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-0 flex-grow-0">

                    <partial name="_AddUser" model=" new  E_Shop.Application.ViewModels.UserViewModel()" />
                </div>
            </div>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUpdateUser" aria-labelledby="offcanvasUpdateUserLabel">
                <div class="offcanvas-header">
                    <h5 id="offcanvasUpdateUserLabel" class="offcanvas-title">بروزرسانی کاربر</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-0 flex-grow-0">

                    <partial name="_UpdateUser" model=" new  E_Shop.Application.ViewModels.UserViewModel()" />
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->

    <div class="content-backdrop fade"></div>
</div>

<script>
    function loadUserData(userId) {
        $.ajax({
            url: '@Url.Action("UpdateUser")',
            type: 'GET',
            data: { userId: userId },
            success: function (data) {
                var offcanvasBody = document.querySelector('#offcanvasUpdateUser .offcanvas-body');
                offcanvasBody.innerHTML = data;
            }
        });
    }
</script>