@using E_Shop.Application.ViewModels.ProductsViewModel
@model IEnumerable<ProductViewModel>

<div class="ui-box mb-5">
    <div class="ui-box-title">محصولات مشابه</div>
    <div class="ui-box-content">
        <!-- Slider main container -->
        <div class="swiper product-swiper-slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                @foreach (var product in Model)
                {
                    <div class="swiper-slide">
                        <!-- Start of product-card -->
                        <div class="product-card">
                            <div class="product-thumbnail">
                                <a href="@Url.Action("Details", "Product", new { id = product.Id })">
                                    <img src="/theme-assets/images/products/@product.ImageName" alt="@product.Title">
                                </a>
                            </div>
                            <div class="product-card-body">
                                <h2 class="product-title">
                                    <a href="@Url.Action("Details", "Product", new { id = product.Id })">
                                        @product.Title
                                    </a>
                                </h2>
                               @*  <div class="product-variant">
                                    @foreach (var color in product.Colors.Take(3))
                                    {
                                        <span class="color" style="background-color: @color.Code;"></span>
                                    }
                                    @if (product.Colors.Count > 3)
                                    {
                                        <span>+</span>
                                    }
                                </div> *@
                                <div class="product-price fa-num">
                                    <span class="price-now">@product.Price.ToString("N0") <span class="currency">تومان</span></span>
                                </div>
                            </div>
                            <div class="product-card-footer">
                                <div class="d-flex align-items-center justify-content-between border-top mt-2 py-2">
                                    <div class="product-actions">
                                        <ul>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="افزودن به سبد خرید" aria-label="افزودن به سبد خرید">
                                                    <i class="ri-shopping-cart-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="مشاهده سریع" aria-label="مشاهده سریع"
                                                   data-remodal-target="quick-view-modal">
                                                    <i class="ri-search-line"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" data-bs-toggle="tooltip" data-bs-placement="top"
                                                   title="افزودن به علاقمندی" aria-label="افزودن به علاقمندی">
                                                    <i class="ri-heart-3-line"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-rating fa-num">
                                        <i class="ri-star-fill star"></i>
                                        <strong>۴.۴</strong>
                                        <span>(۴۳۶)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of product-card -->
                    </div>
                }
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</div>