@model E_Shop.Domain.ViewModels.ContactUsMessageViewModel




<main class="page-content">
    <div class="container">
        <!-- start of box => contact-us -->
        <div class="ui-box bg-white">
            <div class="ui-box-title fs-5 fw-bold">تماس با ما</div>
            <div class="ui-box-subtitle flex-wrap">
                لطفاً پیش از ارسال ایمیل یا تماس تلفنی، ابتدا <a href="#" class="link mx-2">پرسش های متداول</a>
                را
                مشاهده کنید.
            </div>
            <div class="ui-box-content">
                <div class="fs-7 text-secondary mb-5">
                    برای پیگیری یا سوال درباره سفارش و ارسال پیام بهتر است از
                    فرم
                    زیر استفاده کنید.
                </div>
                <!-- start of contact-us-form -->
                <form method="post" asp-action="ContactUs" class="contact-us-form">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">نام و نام خانوادگی</label>
                                <input type="text" class="form-control" placeholder="نام کامل" asp-for="FullName">
                                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                            </div>
                            <!-- end of form-element -->
                        </div>

                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">ایمیل</label>
                                <input type="text" class="form-control" placeholder="example@example.com" asp-for="Email">
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">تلفن تماس</label>
                                <input type="text" class="form-control" placeholder="09xxxxxxxxx" asp-for="Mobile">
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                            </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">عنوان</label>
                                <input type="text" class="form-control" placeholder="عنوان پیام" asp-for="Title">
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <!-- end of form-element -->
                        </div>
                        <div class="col-12">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">پیام</label>
                                <textarea rows="5" class="form-control" placeholder="متن پیام" asp-for="Message"></textarea>
                                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
                            </div>
                            <!-- end of form-element -->
                        </div>
                        
                        <div class="col-12 text-end">
                            <button type="submit" class="btn btn-primary px-4">ثبت و ارسال</button>
                        </div>
                    </div>
                </form>
                <!-- end of contact-us-form -->
            </div>
        </div>
        <!-- end of box => contact-us -->
    </div>
</main>







